@import "tailwindcss";
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fef08a inset !important; /* same as your yellow bg */
  box-shadow: 0 0 0 1000px #fef08a inset !important;
  -webkit-text-fill-color: #14532d !important; /* green text */
  transition: background-color 5000s ease-in-out 0s;
}